<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                    @input="inputLogin"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    @input="inputPassword"
                  ></v-text-field>
                  <div v-if="showingError" class="error-msg">Incorrect login or password</div>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" :disabled="!login || !password" @click="loginHandler">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  data: function () {
    return {
      login: '',
      password: '',
      isSend: false,
    }
  },
  computed: {
      showingError: function() {
          return this.isSend && !this.$store.getters.getLogged && !this.$store.getters.getLoading;
      }
  },
  methods: {
    loginHandler() {
      const user = {
        login: this.login,
        password: this.password
      };
      this.isSend = true;
      this.$store.dispatch('loginAction', user);
    },
    inputLogin(e) {
      this.login = e;
      this.isSend = false;
    },
    inputPassword(e) {
      this.password = e;
      this.isSend = false;
    } 
  }
}
</script>

 <style lang="scss" scoped>
 .error-msg {
   color: red;
 } 
 </style>