<template>
    <v-container fluid>
        <v-layout column>
            <div v-if="isLogged">
                <v-card>
                    <v-card-text>
                        <v-flex class="mb-4">
                            <v-avatar size="96" class="mr-4">
                                <img :src="user.img">
                            </v-avatar>
                        </v-flex>
                        <v-card-text>Name: {{user.name}}</v-card-text>
                        <v-card-text>Email: {{user.email}}</v-card-text>
                    </v-card-text>
                </v-card>
            </div>
        </v-layout>
    </v-container>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    middleware: 'authenticated',
  components: {
    Logo,
    VuetifyLogo
  },
  computed: {
      isLogged: function() {
          console.log('this.$store.getters.getLogged', this.$store.getters.getLogged);
          return this.$store.getters.getLogged;
      },
      user: function() {
        return this.$store.getters.getUserInfo;
    },
  }
}
</script>
